<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My website</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav class="colonnone">
        <h1>Title H1</h1>
        <div>
            <a href="">See Page 1</a>
            <a href="/about">See  Page 2</a>
            <a href="/work">See Page 3</a>
        </div>
    </nav>

    <div class="section1">
        <div>
            <p>paragraph</p>
            <p>paragraph</p>
            <p>paragraph</p>
        </div>

        <img src="/images/homepage.jpeg" />
    </div>

    
  </body>
</html>
